/* Utilities */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin:0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

/* Desktop Style */
body{
    background-image: url(/img/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-size: 35%;
}
.container, .form-part, .form-bottom, .month-and-year-container {
    display: flex;
}
.ch-name, .card-number, .card-date-section, .card-cvc-section {
    font-size: 18px;
    text-transform: uppercase;
}
.input-form-CVV, .input-form-month, .input-form-year {
    padding-left: 10px;
}
.warning-text {
    font-size: 12px;
    color: hsl(0, 100%, 66%);
    visibility: hidden;
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Form Section */
.card-section {
    margin-left: 85px;
}
.form-section {
    margin-left: 200px;
}
.form-part {
    flex-direction: column;
}
.month-and-year-container {
    gap: 15px;
    flex-direction: row;
}
.input-form, .input-form-CVV {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 175px;
    height: 30px;
}
/* Bottom Form section */
.form-bottom {
    margin-top: 10px;
    gap: 25px;
}
.input-form-month, .input-form-year{
    margin-top: 15px;
    margin-bottom: 10px;
    height: 30px;
    width: 50px;
}
.btn-submit {
    margin-top: 35px;
    height: 30px;
    border-radius: 5px;
    border-color: hsl(278, 68%, 11%);
    background-color: hsl(278, 68%, 11%);
    color: #fff;
}

/* Right section */
/* First card */
.img-card-front-container {
    background-image: url(/img/bg-card-front.png);
    width: 447px;
    height: 245px;
    color: #fff;
}
.img-card-upper-section, .img-card-buttom-section {
    padding: 20px;
}
.img-card-buttom-section {
    display: flex;
    gap: 150px;
}
.date {
    display: flex;
    gap: 5px;
}
.img-card-number {
    margin-top: 20px;
}
/* End of First Card */
/* Second Card */
.img-card-back-container {
    margin-top: 85px;
    margin-left: 85px;
    background-image: url(/img/bg-card-back.png);
    width: 447px;
    height: 245px;
}
.card-cvv {
    text-align: right;
    padding-top: 110px;
    margin-right: 50px;
}
/* Complete state */
.complete-state-form {
    text-align: center;
}
.complete-state-title {
    margin-top: 15px;
    font-weight: 200;
}
.complete-state-paragraph {
    margin-top: 12px;
    color:  hsl(279, 6%, 55%);
}