/* Utilities */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin:0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

/* Desktop Style */
.container, .form-part, .form-bottom, .month-and-year-container {
    display: flex;
}
.ch-name, .card-number, .card-date-section, .card-cvc-section {
    font-size: 18px;
    text-transform: uppercase;
}
.input-form, .input-form-month, .input-form-year {
    padding-left: 10px;
}
.warning-text {
    font-size: 12px;
    color: hsl(0, 100%, 66%);
    visibility: hidden;
}
.container {
    margin-top: 50px;
}
/* Form Section */
.card-section {
    margin-left: 200px;
}
.form-section {
    margin-left: 250px;
}
.form-part {
    flex-direction: column;
}
.month-and-year-container {
    gap: 15px;
    flex-direction: row;
}
.input-form {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 175px;
    height: 30px;
}
/* Bottom Form section */
.form-bottom {
    margin-top: 10px;
    gap: 25px;
}
.input-form-month, .input-form-year{
    margin-top: 15px;
    margin-bottom: 10px;
    height: 30px;
    width: 50px;
}
.btn-submit {
    margin-top: 35px;
    height: 30px;
    border-radius: 5px;
    border-color: hsl(278, 68%, 11%);
    background-color: hsl(278, 68%, 11%);
    color: #fff;
}

/* Right section */
.img-card-front-container {
    background-image: url(/img/bg-card-front.png);
    width: 447px;
    height: 245px;
}